<%- include ./partials/header %>

<% blogposts.forEach((blogpost) => { %>
    <div class="ui raised very padded text container segment">
        <h3 class="ui header"><%= blogpost.title %></h3>
        <p><%= blogpost.date %></p>
        <image style="width: 500px" src="<%= blogpost.imgUrl %>"></image>
        <p><%= blogpost.contentText %></p>
        <p><%= blogpost.author %></p>
    </div>
<% }) %>

<%- include ./partials/footer %>